

body {
    background-color: white;
    width: 300px;
    margin: 0;
    border: 0;
    min-height: 400px;
    max-height: 650px;
    overflow-x: hidden;
}
.mt--60{
    margin-top: -60px;
}

.circle
    {
    margin-top: -40px;
    width:120px;
    height:120px;
    font-size:15px;
    border-radius:120px;
    border: 10px solid rgb(255, 255, 255);
    color:#fac55c;
    line-height:30px;
    text-align:center;
    vertical-align: middle;
    background:rgb(255, 255, 255)
    }
   

.bg-secondary-yellow{
    background-color: #fac55c!important;
    color:white !important;
    margin: 0;
    padding: 0;
}
.bg-ash-green{
    background-color:#152818 ;
    color:white;
}
.colorsPalette{
    height:30px;
    border: 1 solid black;
    width: 100%;
}
